<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="/css/styleSheet.css" rel="styleSheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <title>MercadoLiebre</title>
</head>

<body>
    <header>
        <div class="contenedor-principal">
            <img class="logo" src="/img/logo-mercado-liebre.svg" alt="logo">
        
            <div class="buscador">
                 <i class="fas fa-search"></i> <input type="text" placeholder="Buscar productos, marcas y más">
            </div>
    </div>
        <br>
        <h4><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</h4>
        <nav>
            
            <li><a href="">Ofertas</a></li>
            <li><a href="">Tiendas Oficiales</a></li>
            <li><a href="">Vender</a></li>
            <li><a href="">Ayuda</a></li>
        </nav>
        <br>
        <nav>
            <li><a href="">Creá tu cuenta</a><i class="fas fa-id-card"></i></li>
            <li><a href="">Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
            <li><a href="">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
        </nav>
                <div class="burger-menu">
                     <i class="fas fa-bars"></i>
                </div>
        
        <section><img class="banner" src="/img/img-home-banner.jpg" alt="banner"></section> 

    </header>
    <!-- Formulario -->
    
    <main>
        <form action="/register" method="POST">
            <div>
                <label><strong> Completá tus datos</strong></label>             
            </div>
            <div>
                <label for="name">NOMBRE y APELLIDO:</label>
                <input type="text"  name="nombre" id="name" placeholder="Ej: Goku">
            </div>
            <div>
                <label for="user">NOMBRE de USUARI@:</label>
                <input type="text"  name="usuario" id="user">
            </div>
            <div>
                <label for="birthdate">FECHA de NACIMIENTO:</label>
                <input type="date"  name="fechaNac" id="birthdate">
            </div>
            <div>
                <label for="adress">DOMICILIO:</label>
                <input type="text"  name="domicilio" id="adress">
            </div>
            <div>
                <label>¿Quiere comprar o vender?</label>
                <input type="radio" name="tipocomercio" value="compra">Comprar
                <input type="radio" name="tipocomercio" value="vende">Vender
            </div>
            <div>
                <label>CATEGORIAS de INTERES</label>
                <input type="checkbox"name="categorias" value="electro">Electro
                <input type="checkbox"name="categorias" value="moda">Moda
                <input type="checkbox"name="categorias" value="hogar">Hogar
                <input type="checkbox"name="categorias" value="jugueteria">Juguetería
                <input type="checkbox"name="categorias" value="vida sana">Vida Sana
                <input type="checkbox"name="categorias" value="audio">Audio
            </div>
            <div>
                <label>Foto de usuario</label>
                <input type="file">
            </div>
            <div>
                <label>CONTRASEÑA</label>
                <input type="password" name="password" value="claves"placeholder="********">
            </div>
            <div>
                <label>CONFIRMAR CONTRASEÑA</label>
                <input type="password" name="password*" value="claves*"placeholder="********">
            </div>
            <br>
            




            <button type="submit"> ENVIAR</button><button type="reset"> BORRAR TODO</button>
        </form>


    </main>

    <footer>
        <ul>
            <section>
                <div><i class="fas fa-credit-card"></i></div>
                <il>
                    <h5>Pagá con tarjeta o en efectivo</h5>
                </il>
                <p>Con MercadoLiebre cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </section>
            <section>
                <div><i class="fas fa-gift"></i></i></div>
                <il>
                    <h5>Envío gratis desde $ 2.500</h5>
                </il>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </section>
            <section>
                <div><i class="fas fa-user-shield"></i></div>
                <il>
                    <h5>Seguridad, de principio a fin</h5>
                </il>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@</p>
            </section>
            <section>
                <il>
                    <h5>Copyright © 1999-2020 MercadoLiebre S.R.L.</h5>
                </il>

            </section>
        </ul>

    </footer>
</body>

</html>